<table style="font-family: Arial" class="table table-striped table-responsive">
    <tr>
        <td colspan="2" class="header">
            <h1>
                Admin Control
            </h1>
        </td>
    </tr>
    <tr>
        <td class="leftMenu">
            <a href="#!/user">Users</a>
            <a href="#!/role">Roles</a>
            @*<a href="#!/page">Pages</a>*@
            <a href="#!/permission">Role and Permissions</a>
            <a href="#!/user-role">User and Role </a>
        </td>
        <td class="mainContent">
            <ng-view></ng-view>
        </td>
    </tr>
   
    <tr>
        <td colspan="2" class="footer">
            <b>YORBIT 201</b>
        </td>
    </tr>
</table>